@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    /*Apply to every element,  ::before and ::after pseudo-elements of every element.*/
    box-sizing: border-box;
   
}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-txt);
    background-color: var(--color-primary);
    overflow-x: hidden;

}


.map {
   
    height: 400px;
    width: 100%;
}