@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    /*Apply to every element,  ::before and ::after pseudo-elements of every element.*/
    box-sizing: border-box;
   
}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-txt);
    background-color: var(--color-primary);
    overflow-x: hidden;

}


.map {
   
    height: 400px;
    width: 100%;
}
#btn-div{
    text-align: center;
}

.canva {
    display: inline-block;
    margin-top: 50px;
    background-color: cadetblue;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
}

.canva:hover {
    opacity: 0.8;
}

.canva-container {
    text-align: center;
}

#my-canvas {
    
    border: 1px solid black;
}