.ajax{
    margin-top: 50px;
    border-top: 1px solid green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.li-item {
    background-color: lightgrey;
    padding: 20px 8px;
    margin-bottom: 20px;
    border-radius: 8px;

}