@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --text-color--: #333;
    --bg-color-white--: #f5f5f5;
}
* ,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color--);
    background-color: var(--bg-color-white--);

}

.container {
    margin: 30px auto;
    padding: 20px;
}

header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
  font-weight: 300;  
}
/**Form Styling */







